
@{
    Layout = null;
}
<!doctype html>
<html lang="zxx">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    @*<link rel="stylesheet" href="~Assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">*@

    @*<link rel="stylesheet" href="~/Assets/css/magnific-popup.min.css">

    <link rel="stylesheet" href="~/Assets/css/animate.min.css">*@

    <link rel="stylesheet" href="~/Assets/css/boxicons.min.css">

    <link rel="stylesheet" href="~/Assets/css/flaticon.css">

    <link rel="stylesheet" href="~/Assets/css/meanmenu.min.css">

    @*<link rel="stylesheet" href="~/Assets/css/nice-select.min.css">

    <link rel="stylesheet" href="~/Assets/css/odometer.min.css">*@

    <link rel="stylesheet" href="~/Assets/css/style.css">

    <link rel="stylesheet" href="~/Assets/css/responsive.css">

    <link rel="icon" type="image/png" href="~/Assets/img/favicon.png">

    <title>[    ] Kış Bahçesi Çözümleri</title>
</head>
<body>
    <section class="user-area-style recover-password-area ptb-100">
        <div class="container">
            <div class="contact-form-action recover">
                <div class="form-heading text-center">
                    <h3 class="form-title">Reset Password!</h3>
                    <p class="reset-desc">Enter the email of your account to reset the password. Then you will receive a link to email to reset the password. If you have any issue about reset password <a href="contact.html">contact us.</a></p>
                </div>
                <form method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" placeholder="Enter Email Address">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <a class="now-log-in font-q" href="log-in.html">Log In in your account</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="now-register">
                                Not a member?
                                <a class="font-q" href="registration.html">Registration</a>
                            </p>
                        </div>
                        <div class="col-12">
                            <button class="default-btn btn-two" type="submit">
                                Reset Password
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
</html>
